<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="betApp">
<head>
    <title>BetGame</title>
    <script src="Scripts/Libraries/angular.js"></script>
    <script src="Scripts/model.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="Scripts/Libraries/bootstrap.css" rel="stylesheet" />
    <link href="Scripts/Libraries/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
<div class="panel panel-default" ng-controller="betCtrl">
<h1 class="panel-heading">BetGame</h1>
   
   <select ng-model="selectedLeague" ng-options="x.name for x in leagues"></select>
   
   <div class="panel-body" ng-switch="selectedLeague.name">
  
  <div ng-switch-when="Germany" class="row">
      <ng-include src="'table.html'"></ng-include>
  </div>  

   <div ng-switch-when="England" class="row">
       <ng-include src="'table.html'"></ng-include>    
   </div>

   <div ng-switch-when="Spain" class="row">
       <ng-include src="'table.html'"></ng-include>     
   </div>

   <div ng-switch-when="Italy" class="row">
       <ng-include src="'table.html'"></ng-include>   
   </div>
       
       <div id="lastFive" class="modal fade" role="dialog">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Статистика последних матчей {{teamName}}</h4>
                   </div>
                   <div class="modal-body">
                       <table class="table">
                           <tr ng-repeat="x in lastFive">
                               <td class="text-right"><a ng-click="teamStat(x._links.homeTeam.href)">{{ x.homeTeamName}}</a></td>
                               <td class="text-center">{{x.result.goalsHomeTeam + ' - ' + x.result.goalsAwayTeam}}</td>
                               <td class="text-left"><a ng-click="teamStat(x._links.awayTeam.href)">{{x.awayTeamName }}</a></td>
                           </tr>
                       </table>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                   </div>
                 </div>
               </div>
       </div>
 
 
     
     </div>
   </div>
</body>
</html>
